//Add Most Commonly used colors and margins here
.body,.v-application{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.v-dialog{
  border-radius: 1rem;
  max-height: 80%;
}

.body,.v-application{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-center {
  text-align: center;
}
.fontbold {
  font-weight: bold;
  &.weight1{
    font-weight:400 ;
  }
  &.weight2{
    font-weight:600 ;
  }
  &.weight3{
    font-weight:700 ;
  }
  &.weight4{
    font-weight:800 ;
  }
}

.fontsize {
  &.size1{
    font-size: 0.7rem;
  }
  &.size2{
    font-size: 0.8rem;
  }
  &.size3{
    font-size: 0.9rem;
  }
  &.size4{
    font-size: 1rem;
  }
  &.size5{
    font-size: 1.2rem;
  }
}

.space-top {
  margin-top: 20px;
  &.short {
    margin-top: 10px;
  }
  &.medium {
    margin-top: 15px;
  }
  &.super-short {
    margin-top: 5px;
  }
  &.long {
    margin-top: 40px;
  }
  &.extra-long {
    margin-top: 80px;
  }
}

space-below {
  margin-bottom: 20px;

  &.super-short {
    margin-bottom: 5px;
  }

  &.short {
    margin-bottom: 10px;
  }

  &.medium {
    margin-bottom: 15px;
  }

  &.long {
    margin-bottom: 40px;
  }

  &.super-long,
  &.extra-long {
    margin-bottom: 80px;
  }
}

.space-right {
  margin-right: 10px;

  &.medium {
    margin-right: 15px;
  }

  &.long {
    margin-right: 20px;
  }

  &.short {
    margin-right: 5px;
  }
  &.extralong {
    margin-right: 35px;
  }
}

.space-left {
  margin-left: 10px;

  &.short {
    margin-left: 5px;
  }

  &.medium {
    margin-left: 15px;
  }

  &.long {
    margin-left: 25px;
  }
  &.extralong {
    margin-left: 50px;
  }
}

.m-auto {
  margin: auto;
}

.p1 {
  padding: 1rem;
}

.borderradius1{
  border-radius: 10px;
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}

.blue-color {
  color: #1c64f2;
}
