.intro{
    letter-spacing: 0.025em;
    
     &.heading1{
        color: gray;            
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;   
        margin-top: 1rem; 
        &.mobile{
            margin-bottom: 1rem;
        } 
    }
    &.heading2{  
        letter-spacing: 0.005em;
        line-height: 0%;            
        font: 900 3rem 'Roboto', cursive;
        &.mobile{
            font-size: 2rem;
            flex: auto;
            text-align: center;
            margin-bottom: 1rem;
        }
        &.text2{
            color:blue;
        }       
    }
    &.heading3{
        margin-top: 0.2rem; 
        font-size: 1.25rem;        
        font-weight: lighter;
        --text-opacity: 1;
        color: rgba(75,85,99,var(--text-opacity));
        &.mobile{
            margin-bottom: 1rem;
        }
    }   
    &.btn{
        text-transform: none;
        margin-bottom: 1rem;
        &.mobile{
            margin-bottom: 2rem;
        }
    }
    &.image{
               
        width: 30rem;
        height: 18rem;        
    } 
    &.imgmobile{
        width: 40rem;
        height: 20rem;
        flex: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}
