.intro{    
    letter-spacing: 0.025em;    
     &.heading1{
        color: gray;            
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;   
        margin-top: 1rem; 
        margin-left: auto;
        &.mobile{
            margin-bottom: 1rem;
        } 
    }
    &.heading2{  
        letter-spacing: 0.005em;
        line-height: 0%;            
        font: 900 3rem 'Roboto', cursive;
        &.mobile{
            font-size: 2rem;
            flex: auto;
            text-align: center;
            margin-bottom: 1rem;
        }
        &.text2{
            color:blue;
        }       
    }
    &.heading3{
        display: block;
        margin-top: 0.2rem; 
        font-size: 1.25rem;        
        font-weight: lighter;
        --text-opacity: 1;
        color: rgba(75,85,99,var(--text-opacity));
        &.mobile{
            margin-bottom: 1rem;
        }
    }   
    
    &.header_btn:hover{
        color:skyblue;
        
    }
    &.header_btn{
        color: honeydew;
        text-transform: none;
        margin-bottom: 1rem;
        padding: 15%;
       border-radius: 0.50rem;
        &.mobile{
            margin-bottom: 2rem;
        }
    }
    &.header_image{               
        width: 200%;
        height: 100%;        
    } 
    &.header_image_mobile{
        width: 80%;
        height: 40%; 
        flex: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}
