.intro{    
    letter-spacing: 0.025em;    
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
     &.heading1{
        color: gray;            
        font-size: 0.8(vw+vh);
        text-transform: uppercase;
        font-weight: 600;   
        margin-top: 2rem; 
        margin-left: auto;
        &.mobile{
            font-size: 1rem;
            margin-bottom: 1rem;
        } 
    }
    &.heading2{  
        letter-spacing: 0.005em;        
        font-weight: 900;    
        line-height:normal;    
        font-size: 4vw;
        margin-bottom: 1rem;
        &.mobile{
            font-size: 2rem;
            flex: auto;
            text-align: center;
            margin-bottom: 1rem;
        }
        &.text2{
            color:blue;
        }       
    }
    &.heading3{
        display: block;
        margin-top: 0.2rem; 
        font-size: 1.25(vw+vh);        
        font-weight: lighter;
        --text-opacity: 1;
        margin-bottom: 1rem;
        color: rgba(75,85,99,var(--text-opacity));
        &.mobile{
            margin-bottom: 1rem;
            font-size: 1.25rem;  
        }
    }   
    
    &.header_btn:hover{
        color:skyblue;
        
    }
    &.header_btn{
        color: honeydew;
        text-transform: none;
        margin-bottom: 1rem;
        padding: 15%;
       border-radius: 0.50rem;
        &.mobile{
            margin-bottom: 2rem;
        }
    }
    &.header_image{ 
        width: 45vw;
        height: 20vw;        
    } 
    &.header_image_mobile{
        width: 80%;
        height: 40%; 
        flex: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}
