.stats {
    .stats_padding{
        padding: 25px;
    }
    &.heading {
      font-size: 2.25rem;
      line-height: 2.5rem;
      font-family: 'Montserrat', sans-serif;
    }
    &.body{
        margin-top: 1rem;
        color: grey;
        text-align: center;
        font-size: 1.25rem;
        font-family: 'Roboto', sans-serif;
    }
    &.checkbutton{
      text-align: center;
      text-transform: none;
      color: white;
    }
    &.cardtitle{
      color: #1c64f2;
      font-family:'Montserrat', sans-serif;
      font-size: 3rem;
      text-align: center;
    }
    &.cardsubtitle{
      font-family:'Roboto', sans-serif;
      color: grey;
      font-size: 1.25rem;
      font-weight: 500;
      text-align: center;
    }
    .mangacolorstats{
      color: #1c64f2;
    }
  }