@import "./pages/Homepage/features.scss";
@import "./pages/Homepage/intro.scss";
@import "./pages/Homepage/footers.scss";
@import "./pages/Homepage/stats.scss";
@import "./pages/Homepage/footers.scss";
@import "./pages/Homepage/navbar.scss";
@import "./pages/common.scss";
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,900&display=swap');

