@import "./pages/Homepage/features.scss";
@import "./pages/Homepage/intro.scss";
@import "./pages/Homepage/footers.scss";
@import "./pages/Homepage/stats.scss";
@import "./pages/Homepage/footers.scss";
@import "./pages/Homepage/navbar.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@900&display=swap');

